


<div class="page-content">
<div class="row">
<div class="col-xs-12">
	<!-- PAGE CONTENT BEGINS -->
	<h4 class="header smaller lighter blue">
		Workflow Details - Test Order Workflow1 (Duration - 11 Day(s) 3 Hour(s) )
	</h4>
	<div class="workflow_details_content">
		<div class="add_gate_section">
        <div class="add_gate_btn">
            <a href="#">
                Add Gate
            </a>
            &nbsp;
            <i class="icon-plus">
            </i>
        </div>
        <div class="gate_list_slider">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 400px;"><div class="gate_list_slider_over" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, -405px, 0px);"><div class="new-gate-sec bx-clone" style="float: none; list-style: none; position: relative; width: 216px;">
                    <div class="single_gate workgate-active clearfix">
                        <div class="gate_title text-ellipsis">
                            Credit Check
                            <span class="pull-right gate_close_ic">
                                <i class="icon-remove ">
                                </i>
                            </span>
                        </div>
                        <div class="sub-word-gate-div pull-left" onclick="get_tasks(10010)">
                            <div class="work-circle blue">
                                5
                            </div>
                            <span class=" work-circle-text ">
                                Task(s)
                            </span>
                        </div>
                        <div class="pull-right gate-icons">
                            <i class="icon-edit">
                            </i>
                            <i class="icon-book">
                            </i>
                            <i class=" icon-info-sign">
                            </i>
                        </div>
                        <div class="workgate-arrow">
                            <i class="icon-angle-down">
                            </i>
                        </div>
                        <div class="work-arrow">
                        </div>
                    </div>
                    <div class="single_gate clearfix">
                        <div class="gate_title text-ellipsis">
                            Service Delivery Precheck
                        </div>
                        <div class="sub-word-gate-div pull-left" onclick="get_tasks(10010)">
                            <div class="work-circle blue">
                                12
                            </div>
                            <span class=" work-circle-text ">
                                Task(s)
                            </span>
                        </div>
                        <div class="pull-right gate-icons">
                            <i class="icon-edit">
                            </i>
                            <i class="icon-book">
                            </i>
                            <i class=" icon-info-sign">
                            </i>
                        </div>
                        <div class="workgate-arrow">
                            <i class="icon-angle-down">
                            </i>
                        </div>
                        <div class="work-arrow">
                        </div>
                    </div>
                    <div class="single_gate clearfix">
                        <div class="gate_title text-ellipsis">
                            Service Delivery
                        </div>
                        <div class="sub-word-gate-div pull-left" onclick="get_tasks(10010)">
                            <div class="work-circle blue">
                                3
                            </div>
                            <span class=" work-circle-text ">
                                Task(s)
                            </span>
                        </div>
                        <div class="pull-right gate-icons">
                            <i class="icon-edit">
                            </i>
                            <i class="icon-book">
                            </i>
                            <i class=" icon-info-sign">
                            </i>
                        </div>
                        <div class="workgate-arrow">
                            <i class="icon-angle-down">
                            </i>
                        </div>
                        <div class="work-arrow">
                        </div>
                    </div>
                    <div class="single_gate clearfix">
                        <div class="gate_title text-ellipsis">
                            Credit Check
                        </div>
                        <div class="sub-word-gate-div pull-left" onclick="get_tasks(10010)">
                            <div class="work-circle blue">
                                3
                            </div>
                            <span class=" work-circle-text ">
                                Task(s)
                            </span>
                        </div>
                        <div class="pull-right gate-icons">
                            <i class="icon-edit">
                            </i>
                            <i class="icon-book">
                            </i>
                            <i class=" icon-info-sign">
                            </i>
                        </div>
                        <div class="workgate-arrow">
                            <i class="icon-angle-down">
                            </i>
                        </div>
                        <div class="work-arrow">
                        </div>
                    </div>
                    <div class="single_gate clearfix">
                        <div class="gate_title text-ellipsis">
                            Order Verification
                        </div>
                        <div class="sub-word-gate-div pull-left" onclick="get_tasks(10010)">
                            <div class="work-circle blue">
                                3
                            </div>
                            <span class=" work-circle-text ">
                                Task(s)
                            </span>
                        </div>
                        <div class="pull-right gate-icons">
                            <i class="icon-edit">
                            </i>
                            <i class="icon-book">
                            </i>
                            <i class=" icon-info-sign">
                            </i>
                        </div>
                        <div class="workgate-arrow">
                            <i class="icon-angle-down">
                            </i>
                        </div>
                        <div class="work-arrow">
                        </div>
                    </div>
                </div>
                <div class="new-gate-sec" style="float: none; list-style: none; position: relative; width: 216px;">
                    {{#each model.gate_ids as |entry|}}
                    
                    <div class="single_gate workgate-active clearfix">
                        <div class="gate_title text-ellipsis">
                            {{entry.name}}
                            <span class="pull-right gate_close_ic">
                                <i class="icon-remove ">
                                </i>
                            </span>
                        </div>
                        <div class="sub-word-gate-div pull-left" onclick="get_tasks(10010)">
                            <div class="work-circle blue">
                                5
                            </div>
                            <span class=" work-circle-text ">
                                Task(s)
                            </span>
                        </div>
                        <div class="pull-right gate-icons">
                            <i class="icon-edit">
                            </i>
                            <i class="icon-book">
                            </i>
                            <i class=" icon-info-sign">
                            </i>
                        </div>
                        <div class="workgate-arrow">
                            <i class="icon-angle-down">
                            </i>
                        </div>
                        <div class="work-arrow">
                        </div>
                    </div>

                    {{/each}}
                    
                    
                    
                </div>
            </div></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div></div><div class="bx-controls-direction"><a class="bx-prev disabled" href=""><i class="icon-angle-left"></i></a><a class="bx-next  disabled" href=""><i class="icon-angle-right"></i></a></div></div></div>
            <div class="WF-bx-prev center slider-div" href="">
                <i class="icon-angle-up ">
                </i>
            </div>
            <div class="WF-bx-next center slider-div" href="">
                <i class="icon-angle-down ">
                </i>
            </div>
        </div>
    </div>
		<div class="workflow_gate_table">
			<div class="new-task-bt pull-left">
				<div class="">
					<label class="pull-left text-primary" style="font-size:12px ">
						<b>
							Gate Name :
						</b>
					</label>
					<div class="pull-left">
						&nbsp;Order Verification1
					</div>
				</div>
				<div class="" style="clear:left;">
					<label class="pull-left text-primary" style="font-size:12px ">
						<b>
							Task List Name :
						</b>
					</label>
					<div class="pull-left">
						&nbsp;Order Verification Template
					</div>
				</div>
			</div>
			<div class="pull-right">
				<button class="btn btn-success btn-xs bt-size-3" id="add_task_modal"><i class="icon icon-plus"></i>&nbsp;Add Task </button>
			</div>
				{{outlet}}
			
		</div>
	</div>
	<!-- /row  -->
</div>
<!-- /.col  -->
</div>
<!-- /.row  -->
</div>

{{outlet}}
{{#my-modal  enabled=false title="My modal #1"}}
  This is the content of my modal #1
{{/my-modal}}