<div class="single_gate workgate-active clearfix">
    <div class="gate_title text-ellipsis">
        Credit Check
        <span class="pull-right gate_close_ic">
            <i class="icon-remove ">
            </i>
        </span>
    </div>
    <div class="sub-word-gate-div pull-left" onclick="get_tasks(10010)">
        <div class="work-circle blue">
            5
        </div>
        <span class=" work-circle-text ">
            Task(s)
        </span>
    </div>
    <div class="pull-right gate-icons">
        <i class="icon-edit">
        </i>
        <i class="icon-book">
        </i>
        <i class=" icon-info-sign">
        </i>
    </div>
    <div class="workgate-arrow">
        <i class="icon-angle-down">
        </i>
    </div>
    <div class="work-arrow">
    </div>
</div>