<ul class="pull-left">
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Call Center</a></li>
  <li><a href="#">Billing</a></li>
  <li><a href="#">Buy Services</a></li>
  <li><a href="#">Reporting</a></li>
  <li><a href="#">Administration &amp; Access</a></li>
  <li><a href="#">Support</a></li>
  <li><a href="#">Schedules</a></li>
</ul>
<ul class="pull-right">
  <li><a href="#" ><i class="fa fa-cog"></i> Company Settings</a></li>
  <li><span>(855) 492-2300</span></li>
  <li class="logout"><a href="#">Log Out</a>
  </li>
</ul>
