<div class="modal" style="display:block;" >
    <div class="modal-dialog">
      <div class="modal-content" style="width:900px; margin-left: -150px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="widget-header header-color-blue">
             <h4 class="modal-title">Add Gate</h4>
             <div class="widget-toolbar">
               <a href="javascript:void(0)" onclick="javascript:close_popup_box()" data-action="close">
                 <i class="icon-remove"></i>
               </a>
             </div>
          </div>
        </div>
        <div class="modal-body">

                <form accept-charset="UTF-8" action="/serviceorder/tasks/add_task" class="simple_form new_task" data-remote="true" id="new_task" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
                    <div class=" clearfix">
                        <div class="col-sm-7 task-from">
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-sm-5 align-right padding0">
                                    <label for="form-field-select-3"> Task Name<span class="red">*</span> </label>

                                </div>
                                <div class="col-sm-7">
                                    <div class="control-group string optional task_name"><div class="controls"><input class="string optional col-sm-12" id="task_name" name="task[name]" placeholder="Task Name" type="text" value=""></div></div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-sm-5 align-right padding0">
                                    <label for="form-field-select-3"> Description </label>

                                </div>
                                <div class="col-sm-7">
                                    <textarea class="new-text-area" id="task_comment" label="false" name="task[comment]" placeholder="Task Description"></textarea>
                                    <!--<textarea name='' class="new-text-area" id="" onchange=""></textarea>-->
                                </div>
                            </div>

                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-sm-5 align-right padding0">
                                    <label for="form-field-select-3"> Duration </label>

                                </div>
                                <div class="col-sm-7">
                                    <div class=" ">
                                        <div class="control-group select optional task_duration"><div class="controls"><select class="select optional col-sm-4" id="task_duration" name="task[duration]"><option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option></select></div></div>
                                    </div>
                                    <div class="">
                                        <div class="control-group select optional task_duration_unit"><div class="controls"><select class="select optional col-sm-6 pull-right" id="task_duration_unit" name="task[duration_unit]"><option value="HOUR">Hour(s)</option>
                                            <option value="DAY">Day(s)</option></select></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-sm-5 align-right padding0">
                                    <label for="form-field-select-3"> Functional Group </label>

                                </div>
                                <div class="col-sm-7">
                                    <div class="control-group select optional task_functional_group_id"><div class="controls"><select class="select optional col-sm-12" id="task_functional_group_id" name="task[functional_group_id]"><option value="13050">Operational Managers</option>
                                        <option value="17050">Operations Support</option>
                                        <option value="23260">QA Group</option>
                                        <option value="50">QA Team</option>
                                        <option value="51">DEV Team</option>
                                        <option value="7050">Customer Operations</option>
                                        <option value="10152">Sales Engineer</option>
                                        <option value="1058">Account Management</option>
                                        <option value="19050">Provisioning</option>
                                        <option value="151">Direct Sales</option>
                                        <option value="20052">Operations Support</option>
                                        <option value="20050">Operational Managers</option>
                                        <option value="3000">SALES_OPS</option>
                                        <option value="3010">SERVICE_DELIVERY</option>
                                        <option value="3020">Finance Operation</option>
                                        <option value="3040">Service Coordinator</option>
                                        <option value="3050">Implementation Specialist</option>
                                        <option value="3060">LNP Provisioner</option>
                                        <option value="3070">Broadband Provisioner</option>
                                        <option value="3080">Hosted Provisioner</option>
                                        <option value="3090">Sales Support</option>
                                        <option value="3100">SD Manager</option>
                                        <option value="3110">Implementation Engineer</option>
                                        <option value="3120">Sales Operation</option>
                                        <option value="150">Accounts Receivable</option>
                                        <option value="3051">Network Operations</option></select></div></div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-sm-5 align-right padding0">
                                    <label id="tooltip-auto" title="Automated Task"> System Task </label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="col-sm-2 check-box-padding">
                                        <input name="task[is_system_task]" type="hidden" value="0"><input class="ace" id="task_is_system_task" label="false" name="task[is_system_task]" type="checkbox" value="1" wrapper="false">
                                        <span class="lbl"></span>
                                    </div>
                                    <div class="col-sm-10 select-padding">
                                        <div class="control-group select optional disabled task_system_task_id"><div class="controls">
                                            <select class="select optional disabled col-sm-12 " id="task_system_task_id" name="task[system_task_id]"><option value="">Please select</option>
                                            <option can_rerun="Y" value="17">Welcome Email</option>
                                            <option can_rerun="N" value="12">Change Order</option>
                                            <option can_rerun="Y" value="53">DID Porting</option>
                                            <option can_rerun="N" value="1">Ship the Equipment</option>
                                            <option can_rerun="N" value="2">Provision Service</option>
                                            <option can_rerun="N" value="3">Auto Assign DID</option>
                                            <option can_rerun="N" value="4">Start Service the Billing</option>
                                            <option can_rerun="N" value="5">Generate the Equiment Invoice</option>
                                            <option can_rerun="Y" value="6">Send Service Authentication Email</option>
                                            <option can_rerun="Y" value="7">Send Activation Email</option>
                                            <option can_rerun="Y" value="8">Send User Creation Email</option>
                                            <option can_rerun="Y" value="10">Send Admin User Creation Email</option>
                                            <option can_rerun="Y" value="11">Send End User Creation Email</option>
                                            <option can_rerun="Y" value="18">Credit Check</option>
                                            <option can_rerun="N" value="19">Send Rental Billing Info</option></select></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-sm-5 align-right padding0">
                                    <label title="Milestone Task"> Milestone Task </label>

                                </div>
                                <div class="col-sm-7">
                                    <div class="col-sm-2 check-box-padding">
                                        <input name="task[is_milestone]" type="hidden" value="0"><input class="ace" id="task_is_milestone" label="false" name="task[is_milestone]" type="checkbox" value="1" wrapper="false">
                                        <span class="lbl"></span>
                                    </div>
                                    <div class="col-sm-10">

                                        <div class="col-sm-7 align-right padding0">
                                            <label title="Milestone Task"> Skippable </label>
                                        </div>
                                        <div class="col-sm-2 check-box-padding">
                                            <input name="task[is_skippable]" type="hidden" value="0"><input class="ace" id="task_is_skippable" label="false" name="task[is_skippable]" type="checkbox" value="1" wrapper="false">
                                            <span class="lbl"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-sm-5 align-right padding0">
                                    <label title="Milestone Task"> Add after<span class="red">*</span>  </label>

                                </div>
                                <div class="col-sm-7">
                                    <div class="new-task-select">
                                        <select id="task_seq_number" label="false" name="task[seq_number]" onchange="javascript:dependency_tasks_filter()" wrapper="false"><option value="">Please select</option>
                                            <option value="1500">Check for Order Confirmation</option>
                                            <option value="2500">Call Customer to verify Order</option>
                                            <option value="4000">Perform Order changes (if needed)</option></select>
                                        <span class="lbl"></span>
                                    </div>
                                    <div class="col-sm-10">

                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="space-10"></div>
                            <div class="depends-title-div">This Task Depends On </div>
                            <div class="task-select-div">
                                <ul class="task-select-ul" id="dependent_tasks_ul">

                                    <li class="col-sm-12 check-center hide" id="1000">
                                        <div class="col-sm-2 pull-left">
                                            <input type="checkbox" name="[dep_tasks][]" class="ace " id="dependenent_task_0" value="36698"><span class="lbl "></span>
                                        </div>
                                        <div class="col-sm-10 pull-left">
                                            <label class="check-padding" for="form-field-select-3"> Check for Order Confirmation</label>
                                        </div>
                                    </li>
                                    <li class="col-sm-12 check-center hide" id="2000">
                                        <div class="col-sm-2 pull-left">
                                            <input type="checkbox" name="[dep_tasks][]" class="ace " id="dependenent_task_1" value="36699"><span class="lbl "></span>
                                        </div>
                                        <div class="col-sm-10 pull-left">
                                            <label class="check-padding" for="form-field-select-3"> Call Customer to verify Order</label>
                                        </div>
                                    </li>
                                    <li class="col-sm-12 check-center hide" id="3000">
                                        <div class="col-sm-2 pull-left">
                                            <input type="checkbox" name="[dep_tasks][]" class="ace " id="dependenent_task_2" value="36700"><span class="lbl "></span>
                                        </div>
                                        <div class="col-sm-10 pull-left">
                                            <label class="check-padding" for="form-field-select-3"> Perform Order changes (if needed)</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" name="gate_id" value="10000">
                        <input type="hidden" name="remaining_gates_duration" id="remaining_gates_duration" value="90">
                    </div>
                </form>
            </div>
          <div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'removeModal'}}>Close</button>
          <button type="button" class="btn btn-primary" >Save</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal-backdrop fade in"></div>