  <div class="modal" style="display:block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          
<div class="row" id="new-gate-wrapper">
  <div class="col-sm-12">
    <div>
      <div class="widget-header header-color-blue">
        <h4 class="widget-title ">Add Gate</h4><span class="widget-subtitle"></span>

        <div class="widget-toolbar">
          <a href="javascript:void(0)" onclick="javascript:close_popup_box()" data-action="close">
            <i class="icon-remove"></i>
          </a>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-main" style="padding: 0px;">
          <div>
            <div class="page-content clearfix">
              <div class="row">
                <div class="col-sm-12">
                  <form accept-charset="UTF-8" action="/serviceorder/gates/add_gate" class="simple_form new_gate" data-remote="true" id="new_gate" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="?"></div>
                      <div class=" clearfix">
  <div class="col-sm-10 new-gate-from">
    <div class="space-10"></div>
    <div class="row">
      <div class="col-sm-5 align-right">
        <label for="form-field-select-3"> Gate Name : </label>
      </div>
      <div class="col-sm-7">
        <div class="control-group string optional gate_name"><div class="controls"><input class="string optional col-sm-12" id="gate_name" name="gate[name]" placeholder="Gate Name" type="text" value=""></div></div>
      </div>
    </div>

    <div class="space-10"></div>
    <div class="row">
      <div class="col-sm-5 align-right">
        <label for="form-field-select-3"> Functional Group : </label>

      </div>
      <div class="col-sm-7">
        <div class="control-group select optional gate_functional_group_id"><div class="controls"><select class="select optional col-sm-12" id="gate_functional_group_id" name="gate[functional_group_id]"><option value="13050">Operational Managers</option>
<option value="17050">Operations Support</option>
<option value="23260">QA Group</option>
<option value="50">QA Team</option>
<option value="51">DEV Team</option>
<option value="7050">Customer Operations</option>
<option value="10152">Sales Engineer</option>
<option value="1058">Account Management</option>
<option value="19050">Provisioning</option>
<option value="151">Direct Sales</option>
<option value="20052">Operations Support</option>
<option value="20050">Operational Managers</option>
<option value="3000">SALES_OPS</option>
<option value="3010">SERVICE_DELIVERY</option>
<option value="3020">Finance Operation</option>
<option value="3040">Service Coordinator</option>
<option value="3050">Implementation Specialist</option>
<option value="3060">LNP Provisioner</option>
<option value="3070">Broadband Provisioner</option>
<option value="3080">Hosted Provisioner</option>
<option value="3090">Sales Support</option>
<option value="3100">SD Manager</option>
<option value="3110">Implementation Engineer</option>
<option value="3120">Sales Operation</option>
<option value="150">Accounts Receivable</option>
<option value="3051">Network Operations</option></select></div></div>
      </div>
    </div>

    <div class="space-10"></div>
    <div class="row">
      <div class="col-sm-5 align-right">
        <label for="form-field-select-3"> Task List : </label>
      </div>
      <div class="col-sm-7">
        <div class="control-group select optional gate_task_template_id"><div class="controls"><select class="select optional col-sm-12" id="gate_task_template_id" name="gate[task_template_id]"><option value="0">No Template</option>
<option value="2334">Transition to Care</option>
<option value="2335">Resource Allocation</option>
<option value="2336">Order Provisioning - Simple</option>
<option value="2337">Test and Turn Up - Simple</option>
<option value="2338">Order Provisioning - Fasttrack</option>
<option value="2339">Test and Turn Up - Fasttrack</option>
<option value="2400">MAC Test and Turn Up</option>
<option value="2401">MAC Order Entry and Verification</option>
<option value="2402">MAC - Financial Verification</option>
<option value="2405">Billing - No Equipment</option>
<option value="50">Order Provisioning Hosted New DID Template</option>
<option value="51">Test and Turn Up Hosted New DID Template</option>
<option value="52">Order Provisioning Hosted LNP Gate Template</option>
<option value="53">Test and Turn Up Hosted LNP Template</option>
<option value="54">Test and Turn Up Hosted LNP, Broad band Template</option>
<option value="55">Test and Turn Up Hosted LNP Professional Services Template</option>
<option value="1">Order Acknowledgement Hosted New DID Template</option>
<option value="1050">Manual Task</option>
<option value="1051">Credit Card Check Template</option>
<option value="1052">Provision Service</option>
<option value="1053">Delete</option>
<option value="2403">MAC Order Provision Service</option>
<option value="2">Provisioning Template  MAC</option>
<option value="3">Provisioning Template LNP</option>
<option value="4">Provisioning Template NEW</option>
<option value="5">Provisioning Template NEW BB</option>
<option value="6">Provisioning Template NEW LNP</option>
<option value="7">Provisioning Template NEW LNP PRO</option>
<option value="8">Provisioning Template NEW LNP BB</option>
<option value="1100">unique check</option>
<option value="2404">MAC Test and Turn Up (no equipment)</option>
<option value="2501">QA provision</option>
<option value="56">Legacy WorkFlow Template</option>
<option value="4010">Order Verification Template</option>
<option value="201">Order Acknowledgement Gate Template</option>
<option value="4020">Credit Check Template</option>
<option value="4030">Service Delivery Template</option>
<option value="4040">Service Delivery Pre-check Template</option>
<option value="205">Billing Gate Template</option>
<option value="200">Credit Approval Gate Template</option>
<option value="204">Test and Turn Up Gate Template</option>
<option value="150">Order Entry and Verification gate template</option>
<option value="202">Service Design Gate Template</option>
<option value="203">Order Provisioning Gate Template</option>
<option value="2052">QA Simple Manual Task</option>
<option value="7106">Order Provisioning LNP Only</option>
<option value="7107">Test and Turn Up LNP Only</option>
<option value="18050">LNP Order</option>
<option value="18051">Change DID</option>
<option value="19050">Order Entry and Verification - Install MAC</option>
<option value="19052">Test and Turn Up - Install MAC w/ Equipment</option>
<option value="19053">Order Provisioning - Install MAC w/ Equipment</option>
<option value="19054">MAC Order Provision Service - Install MAC</option>
<option value="20050">Service Design - LNP/Toll Free Validation Call</option>
<option value="20051">LNP/TF Only - Order Provisioning Gate</option>
<option value="20052">LNP/Toll Free Only - Test and Turn Up</option>
<option value="20053">LNP/TF Only - Order Entry and Verificaiton</option>
<option value="20120">Order Entry and Verification - Broadband</option>
<option value="21050">Service Design - Broadband</option>
<option value="20121">Billing Gate - Broadband</option>
<option value="21100">Service Design - Wholesale</option>
<option value="21150">Change DID/DID Swap</option>
<option value="21200">Order Provisioning basic</option>
<option value="21201">Billing Gate basic</option>
<option value="21250">Billing Gate Basic</option>
<option value="22051">easy list</option>
<option value="5050">Broadband Provisioning</option>
<option value="5051">Broadband Test &amp; Turn Up</option>
<option value="5052">Service Design LNP Gate</option>
<option value="6050">Drag1</option>
<option value="6051">Drag2</option>
<option value="6052">Drag3</option>
<option value="6053">Drag4</option>
<option value="7105">Test and Turn Hosted LNP w/ Prof. Services</option>
<option value="12075">Billing Gate Template (no equipment)</option>
<option value="12078">WC Test and Turn Up Hosted  DID Integration Template</option>
<option value="22052">easy</option>
<option value="13154">Order Provisioning LNP; DID Forward/LNP Workflow</option>
<option value="13155">Test and Turn Up; DID Forward/LNP Workflow</option>
<option value="13156">Training Only Gate</option>
<option value="13157">Order Provisioning LNP; DID Forward/LNP Workflow</option>
<option value="13158">Training Only</option>
<option value="13160">Transition to Support Only</option>
<option value="14051">Billing Gate Template with Professional Services</option>
<option value="16050">Order Entry verification with Lease</option>
<option value="18052">MAC - DID Change</option>
<option value="19055">Billing Gate - Install MAC</option>
<option value="12077">Order Provisioning (DID Integration)</option>
<option value="13152">Service Design LNP - DID Forward/LNP Workflow</option>
<option value="14050">Order Entry and Verification w/ Professional Services</option>
<option value="4050">QA Billing</option>
<option value="7050">QAgate</option>
<option value="7100">Disconnect Verification</option>
<option value="7101">Disconnect Services and Equipment</option>
<option value="7102">Disconnect Circuit</option>
<option value="7103">Billing Circuit Disconnect</option>
<option value="7104">Billing - Services &amp; Equipment Disconnect</option>
<option value="11050">Hosted - MAC Simple Provisioning</option>
<option value="11051">Hosted - MAC Simple Billing</option>
<option value="12071">Order Provisioning Wholesale LNP Gate Template</option>
<option value="12072">Post Billing - Training/Followi Up/Transition to Support</option>
<option value="12073">Test and Turn Up - Wholesale Simple</option>
<option value="12076">Wholesale Post Billing-Training/Support Transition</option>
<option value="13050">Order Provisioning Hosted LNP/Prof Services</option>
<option value="13100">Wholesale Order Entry and Verification gate template</option>
<option value="13151">Order Entry and Verification - MAC No Equip</option>
<option value="15050">Equipment Ordered</option>
<option value="15051">Equipment only Billing Task List</option>
<option value="12100">Manual Gate</option>
<option value="12102">Rental System Tasks Gate</option>
<option value="12103">Rental Billing</option>
<option value="24050">Residential Manual Gate QA</option>
<option value="24051">Residential System Tasks Gate</option>
<option value="24100">Residential Billing Gate</option>
<option value="24250">Residential LNP task list</option>
<option value="24255">Post Billing - RMA</option>
<option value="24300">Test and Turn Up - RMA</option>
<option value="24302">Order Entry and Verification - RMA</option>
<option value="24257">Residential System Task - Order Prov with LNP</option>
<option value="24301">Post Billing - RMA</option>
<option value="24256">Order Provisioning - Pioneer with LNP</option>
<option value="25050">Order Provisioning - Simple Leasing</option>
<option value="25051">Billing Gate - Leasing</option>
<option value="25052">Order Provisioning - LNP Gate Leasing</option>
<option value="25359">cancel</option>
<option value="32155">Residential System Task with LNP</option>
<option value="31160">Residential System Tasks with LNP</option>
<option value="31161">DID/LNP Order Provisioning - LNP</option>
<option value="31162">DID/LNP Order - LNP Test and Turn Up</option>
<option value="31163">Residential DID/LNP Order Provisioning - LNP</option>
<option value="33694">OneTwo</option>
<option value="33717">OneTwoThree</option>
<option value="38150">Order Provisioning - SIP Trunking</option>
<option value="38151">Order Provisioning - SIP Trunking with LNP</option></select></div></div>
      </div>
    </div>

    <div class="control-group hidden gate_workflow_id"><div class="controls"><input class="hidden col-sm-12" id="gate_workflow_id" name="gate[workflow_id]" type="hidden" value="1020"></div></div>
  </div>
</div>


</form>                </div>
              </div>

            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" {{action 'removeModal'}}>Save</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal-backdrop fade in"></div>