<div class="sidebar" id="sidebar">
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="ember_anpi_logo">
            <img src="/images/anpi-logo.png">
        </div>
    </div>
    <!-- #sidebar-shortcuts  -->
    <ul class="nav nav-list">
        <li>
            <a href="#">
                <i class="icon-list-alt">
                </i>

                {{#link-to 'workflow'}}<span class="menu-text">Work Flow</span>{{/link-to}}

            </a>
        </li>
        <li class="active open">
            <a href="#" class="dropdown-toggle">
                <i class="icon-desktop">
                </i>
                <span class="menu-text">
                                    Service Order
                                </span>
                <b class="arrow icon-angle-down">
                </b>
            </a>
            <ul class="submenu">
                <li class="active">
                    <a href="#">
                        <i class="icon-double-angle-right">
                        </i> Open Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right">
                        </i> Service Orders
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right">
                        </i> DID/LNP Order Management
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right">
                        </i> Residential Orders
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-double-angle-right">
                        </i> Residential DID/LNP Order Management
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.nav-list  -->
    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right">
        </i>
    </div>

</div>